<div class="col-lg-2 col-md-4 col-sm-6 col-10 text-center mx-auto">
    <a href="/champions/{{_id}}">
        <div class="card">
            {{#if legendary}}
            <img src="/img/champions/{{img}}" class="card-img-top draw-legendary" />
            {{/if}}
            {{#if epic}}
            <img src="/img/champions/{{img}}" class="card-img-top draw-epic" />
            {{/if}}
            {{#if rare}}
            <img src="/img/champions/{{img}}" class="card-img-top draw-rare" />
            {{/if}}
            {{#if uncommon}}
            <img src="/img/champions/{{img}}" class="card-img-top draw-uncommon" />
            {{/if}}
            {{#if common}}
            <img src="/img/champions/{{img}}" class="card-img-top draw-common" />
            {{/if}}
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
            </div>
        </div>
    </a>
</div>